.nav-wrapper {
  overflow: hidden;
}

.nav-wrapper-right-align {
  margin-right: 20px;
}

.upload-button {
  margin-right: 10px;
}

.youtubeVideoTabsClass {
  overflow: hidden;
  background-color: transparent;
}

.commentSeparator {
  width: 100%;
  height: 1px;
  background-color: #c3c3c3;
  margin-bottom: 8px;
}

.search-button {
  margin-right: 10px;
}

.loadingcircle {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mainPageSection {
  margin-top: 60px;
}

.channelBanner {
  margin: 0 0 0 -50%;
}

.circular {
  border-radius: 50%;
}

.channelPreviewPopup {
  z-index: 9999;
  position: fixed;
  overflow: hidden;
  opacity: 1;
}

.content {
  overflow-x: hidden;
  overflow-y: auto;
}

#main-page {
  transform: translateY(-170px);
}

.blurInFrames {
  animation: blurIn 0.5s linear;
  pointer-events: none;
  filter: blur(8px);
  -mozfilter: blur(8px);
  -webkitfilter: blur(8px);
  opacity: 0.3;
}

.channelPageWrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}

@keyframes blurIn {
  0% {
    filter: blur(0px);
    -webkitfilter: blur(0px);
    -mozfilter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur(8px);
    -webkitfilter: blur(8px);
    -mozfilter: blur(8px);
    opacity: 0.3;
  }
}

.blurOutFrames {
  animation: blurOut 0.5s linear;
  filter: blur(0px);
  -webkitfilter: blur(0px);
  opacity: 1;
}

@keyframes blurOut {
  0% {
    filter: blur(8px);
    -webkitfilter: blur(8px);
    -mozfilter: blur(8px);
    opacity: 0.3;
  }
  100% {
    filter: blur(0px);
    -webkitfilter: blur(0px);
    -mozfilter: blur(0px);
    opacity: 1;
  }
}

.content-page-container {
  position: fixed;
  top: 64px;
  width: 100%;
  height: 100%;
  z-index: 500;
}

.popupScrollableElement {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.placeholder-breadcrumb {
  display: none;
}

.videoCircleAnimation {
  z-index: 501;
  border-radius: 50%;
  position: fixed;
}

#youtubeVideoTitleLabel {
  font-size: 18px;
}

#youtubeVideoViewsLabel {
  font-size: 12px;
}

.videoSmallPlayerAnimation {
  animation: blurOut 0.5s linear;
}

.thumbnailBackgroundOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.thumbnailBackgroundOverlayCanvas {
  width: 110%;
  height: 110%;
  transform: translate(-5%, -5%);
  -webkittransform: translate(-5%, -5%);
  -moztransform: translate(-5%, -5%);
}

.searchEffectRipple {
  animation: searchEffectWaveRipple 0.3s ease-in;
  background-color: #D6D6D6;
  opacity: 0.99;
  border-radius: 50%;
  position: relative;
  z-index: -1;
}

@keyframes searchEffectWaveRipple {
  0% {
    transform: translate(0vw, 0vw);
    width: 0vw;
    height: 0vw;
  }
  100% {
    transform: translate(-100vw, -100vw);
    width: 200vw;
    height: 200vw;
  }
}

.annoyingGithubInvite {
  position: fixed;
  top: 30vh;
  z-index: 9999;
  opacity: 1;
  width: 100%;
  height: 100%;
}

.bubblesAnimation {
  margin-left: 35%;
  position: relative;
  top: 60%;
}

.bubblesAnimation span {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: relative;
}

.bubblesAnimation span:nth-child(1) {
  left: -10px;
  background-color: #EA4436;
  animation: bounce 2s cubic-bezier(0.72, 0.34, 0.52, 0.99) infinite;
}

.bubblesAnimation span:nth-child(2) {
  left: 0px;
  background-color: #EA4436;
  animation: bounce 2s cubic-bezier(0.72, 0.34, 0.52, 0.99) 0.1s infinite;
}

.bubblesAnimation span:nth-child(3) {
  left: 10px;
  background-color: #EA4436;
  animation: bounce 2s cubic-bezier(0.72, 0.34, 0.52, 0.99) 0.24s infinite;
}

.bubblesAnimation span:nth-child(4) {
  left: 20px;
  background-color: #EA4436;
  animation: bounce 2s cubic-bezier(0.72, 0.34, 0.52, 0.99) 0.33s infinite;
}

@keyframes bounce {
  0%, 50%, 100% {
    top: 0px;
  }
  25%, 75% {
    top: -8px;
  }
}

.smallVideoPlayerWindowWrapper {
  position: fixed;
  display: none;
  z-index: 99999;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

.smallVideoPlayerWindowWrapper .smallVideoPlayerTopBar {
  background-color: #d40000;
  width: 100%;
  height: 28px;
  position: auto;
  overflow: hidden;
  cursor: pointer;
}

.smallVideoPlayerWindowWrapper .smallVideoPlayerTopBar .smallVideoPlayerTopBarTitle {
  margin-top: 2px;
  margin-left: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 400px;
  float: left;
  padding: 1px 1px 0;
}

.filled {
  display: block;
}

@keyframes mainMenuAppearItem {
  0% {
    transform: translate(0, 30px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.search-icon-show-row {
  display: none;
}

.backgroundRedBox {
  position: relative;
  background-color: #d40000;
  width: 100vw;
  height: 232px;
  top: -64px;
  left: 0px;
  z-index: -1;
}

@keyframes smallVideoPlayerDisappear {
  0% {
    transform: translate(0px, 0px) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(15px, 15px) scale(0.75);
    opacity: 0;
  }
}

.smallVideoTopBarWrapper {
  position: fixed;
  bottom: 280px;
  width: 450px;
  overflow: hidden;
}

.smallVideoPlayerTopBar {
  position: relative;
  top: -28px;
}

.replyDisplayArea {
  width: 100%;
  height: 50px;
  overflow: hidden;
}
