.nav-wrapper{
  margin-left: 20px;
}

.nav-wrapper-right-align{
  margin-right: 20px;
}

.upload-button{
  margin-right: 10px;
}

.search-button{
  margin-right: 10px;
}

.loadingcircle{
  margin-top: 60px;
  margin-bottom: 60px;
}

.mainPageSection{
  margin-top: 60px;
}

.channelBanner{
  margin: 0 0 0 -50%;
}

.circular{
  border-radius: 50%;
}
